.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: var(--p-space-150);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.dropZoneBox {
  background: var(--p-color-bg-surface-secondary);
  border-color: var(--p-color-border-tertiary);
  border-style: dashed;
  border-radius: var(--p-border-radius-200);
  border-width: var(--p-border-width-0165);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  aspect-ratio: 1;
}

.dropZoneBox:hover {
  background: var(--p-color-bg-surface-secondary-hover);
}

.mediaItem {
  border: 1px solid rgba(204, 204, 204, 1);
  position: relative;
  display: flex;
  border-radius: var(--p-border-radius-200);
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.mediaOverlay {
  background-color: #00000080;
  opacity: 0;
  height: 100%;
  border-radius: var(--p-border-radius-200);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity var(--p-motion-duration-150);
}

.mediaOverlay:hover {
  opacity: 1;
}

.deleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.image {
  object-fit: cover;
  border-radius: var(--p-border-radius-200);
  aspect-ratio: 1;
}
