@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

pre {
  counter-reset: token-line;
}

.token-line::before {
  counter-increment: token-line;
  content: counter(token-line);
  width: 2rem;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
}
